/* Tekk-o-ween Omarchy Theme */
/* Palette tokens: FF4F00 Magma Flare | FF8C00 Cyber Sunset | FFA500 Neon Ember | 08F7FE Holo-Cyan | F400A1 Punk Fuchsia | 39FF14 Acid Green | 0A0A0A Void Black | 1C1C1E Carbon | 2D2D30 Asphalt | EAEAEA Ghost White | A0A0A0 Static Gray */

@define-color background #000000;
@define-color foreground #ff4f00;

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#bluetooth:hover,
#tray:hover,
#temperature:hover,
#custom-expand-icon:hover,
#worksapces button.active:hover,
#custom-omarchy:hover,
.modules-left button:focus,
.modules-right button:focus,
.modules-center button:focus,
.modules-left button:hover,
.modules-right button:hover,
.modules-center button:hover {
  color: #FFA500;
}

#pulseaudio.muted {
  color: #eaebec;
}

#workspaces button.active {
  opacity: 1;
  border-radius: 0;
  border-bottom: 2px solid @foreground;
}

